body{
    background-color: rgb(223, 222, 222);
}

#mainPage{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

#container{
    background-color: rgb(245, 245, 245);
    display: flex;
    padding: 30px;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    justify-content: space-evenly;
    border-radius: 4px;
}

.post{
    display: block;
    border: 1px solid rgb(223, 222, 222);
    border-radius: 4px;
    padding: 20px;
    margin: 3px;
    height: 170px;
    width: 300px;
}

.post h3{
    padding: 3px 0px;
    margin-bottom: 0px;
}

.post p{
    margin-top: 5px;
    font-size: small;
    color: grey;
}

.post img{
    height: 70px;
    width: 120px;
}

label{
    display: block;
}

#authorDropDown{
    width: auto;
    margin-bottom: 20px;
    border-radius: 4px;
}

#pagination{
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

#pagination a{
    color: black;
    padding: 4px 8px;
    display: inline;
    border-radius: 4px;
    border: 1px black solid;
}
#pagination a:hover{
    background-color: black;
    color: white;
}

#pagination p{
    display: inline;
    padding: 4px 8px;
}

